
@media only screen and (max-width: 600px){
	body{
		margin: 0px;
		z-index: 1;
		padding-right: 0px;
		/*margin-right:0.5vw; */
	}
.cnav{
	display: flex;
	flex-direction: row;
	padding-top: 0vw; 
	position: fixed;	
	margin-top: 0px;	
	background: #333;
	width: 100%;
	opacity: 0.8;
	
	/*margin-left: 1.5vw;*/
	/*border: 0.3vw solid white;*/
	/*border-radius: 0.3vw;*/
	/*border-bottom: 2px solid blue;*/
	justify-content: flex-start;
	max-width: 100%;
	min-width: 100%;
	padding-left: 0vw;
}
ul li a{
text-decoration: none;
color: white;
font-size: 2.2vw;
}
ul li{
	/*position: relative;*/
	list-style:  none;
	/*display: block;*/
	margin-left: 2vw;
	text-align: left;
	/*padding-top: 0vw;*/
		/*padding-left: 1vw;*/
}
ul{
	max-width: 100%;
	max-height: 20%;
	min-height: 4%;
	min-width: 90%;
	/*position: fixed;*/
}
a:hover{
	color: #33bbff;
}
.img1{
	flex: 1;
	margin-left: 0px;
	padding-left: 0px;
	display: inline;
	
	/*width: 3%;
	height: 5%;*/
	/*padding-right: 0px;*/
}

.nav{
	flex: 1;
	/*padding-left: 30vw;*/
	/*justify-content: flex-start;*/
	padding-top: 3vw;
	margin-top: 3vw;
	overflow: hidden;
}
.img11{
	/*padding-right: 0px;*/
	/*position: absolute;*/
	max-width: 20%;
	min-width: 10%;
	max-height:  90%;
	min-height:  10%;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;


}
#c1{
	/*margin-left: 1.5vw;*/
	background-image: url("../images/hero2.jpg");
	background-position: center;
	background-repeat: no-repeat;
		/*background-size: cover;*/
	width:100%;
	height:70vw;
	background-size: cover;
	padding-top:5vw; 
	margin-left: 0vw;
	margin-right: 0vw;
	padding-right: 0vw;
}

footer a{
	color: white;
	text-decoration: none;
	font-size: 0.6em;

}
footer ul li{
	list-style: none;
	/*font-size: 0.5vw;*/
	line-height: 2vw;
	font-size: 1em;
	padding-bottom: 0vw;
	margin-bottom: 0vw;
}
footer h4{
	/*margin-right: 1vw;*/ 	
	margin-bottom: 0vw;
	margin-top: 1vw;
	font-size: 0.8em;
	/*font-style: underline;*/
}
footer a:hover{
	color: #33bbff;
}


/*.mainlay{*/
/*	display: flex;
	flex-direction: column;
}
.lay{
	flex: 1;
	display: flex;
}
.lay1{
	flex: 1;

}*/




#teams{
	text-align: center;
	color: #33bbff;

	padding-top: 2vw;
	margin: auto;
	text-align: center;
	color: #33bbff;
	display: block;
	width: 100%;
	font-family: sans-serif;
	font-size: 3vw
}
/*footer ul li{
	text-decoration: none;
	list-style: none;
	text-align: center;
}*/
.box1{
	font-size: 3vw;
}
.box2{
	font-size: 3vw;
}

.cont1{
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0vw;
	
}
.box1{
	flex:1;
	display: flex;
	flex-direction: column;
	border:10px solid white;
	font-size: 3vw;
}
.fig2{
	width: 100%;
	height: 80%;
	flex:1;
}



.cont2{
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0vw;

}
.box2{
	flex:1;
	display: flex;
	flex-direction: column;
	border:10px solid white;
	font-size: 3vw;
}
.fig2{
	width: 100%;
	height: 80%;
	flex:1;
}
}



@media only screen and (min-width: 600px){
body{
	margin:0px;
	margin-top: 0px;
	padding-top: 0vw;

}
nav{
	margin-top: 0px;
	min-width: 32vw;
}
.cnav{
	display: flex;
	width: 100%;
	min-width: 32vw;
	padding-top: 0vw; 
	position: fixed;	
	margin-top: 0px;
	z-index: 9999;	
	background: #333;
	opacity: 0.8;
	/*margin-left: 1.5vw;*/
	/*border-radius: 0.3vw;*/
	/*border: 0.3vw solid white;*/
	/*border-bottom: 2px solid blue;*/
	overflow: hidden;
	justify-content: flex-end;
	min-height:8% ;
	max-height: 15%;
}
.img11{

	position: absolute;
	max-width: 10%;
	min-width: 5%;
	max-height:  90%;
	min-height:  10%;
	margin-left: 0px;
}
.img1{
	margin-left: 0;
	margin-right: 60%;
	
}
.icc{
	color: white;
	text-align: center;
	padding-top: 0.7vw; 
	margin-left: 0vw;
	padding-left: 0vw;		
}
.nav1{
	/*right: 0;*/
	padding-left: 0.2vw;
	padding-top: 0.7vw;
	margin-right: 0vw;
	/*padding-right: 0.3vw;*/

}
ul{
	margin-top: 0vw;
	margin:0px;
	padding: 0px;
	list-style: none;
	margin-right: 0px;
}
ul li{
	padding-right: 1.5vw;
	list-style: none;
	/*padding-top: 0.5vw;*/ 
	font-size:1.5vw;	
	line-height: 40px;
	padding-left: 0vw;
	margin-left: 0vw;
	text-align: center;

}
/*ul li ul li{
display :none; 
	font-size: 1.5vw;
	padding:0px;
}
ul li:hover ul li{
	display:block;
	border-bottom: 1px solid white;
	border-radius: 0vw;
	color:white;
	font-size: 1.2vw;
	/*padding-top: 0.2vw;
	padding-bottom: 0.2vw;*/
	/*margin: 0;
}*/
a{
	text-decoration: none;
	color: white;
	font-weight: normal;
}
#c1{
	/*margin-left: 1.5vw;*/
	background-image: url("../images/hero2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height:40vw;
	background-size: cover;
	padding-top:5vw; 
	margin-left: 0vw;
	margin-right: 0vw;
	padding-right: 0vw;
	/*margin-top: 10%;*/
}

#teams{
	padding-top: 2vw;
	margin: auto;
	text-align: center;
	color: #33bbff;
	display: block;
	width: 100%;
	font-family: sans-serif;
	font-size: 3vw
}
}

.cont1{
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0vw;
	
}
.box1{
	flex:1;
	display: flex;
	flex-direction: column;
	border:10px solid white;
	font-size: 80%;
}
.fig2{
	width: 100%;
	height: 100%;
	flex:1;
}



.cont2{
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0vw;

}
.box2{
	flex:1;
	display: flex;
	flex-direction: column;
	border:10px solid white;
	font-size: 80%;
}
.fig2{
	width: 100%;
	height: 100%;
	flex:1;
}
@media screen and (min-width: 600px){
 
  .cont1 {
    display: flex;
  }
  .cont2{
  	display: flex;
  }
  footer a{
	color: white;
	text-decoration: none;
	/*font-size: 1vw;*/
	font-size: 1vw;
	line-height: 1vw;
}
footer ul li{
	list-style: none;
	/*font-size: 1vw;
	line-height: 0.5vw;*/
	font-size: 1vw;
	line-height: 2vw;
	padding-left: 2vw;
	/*text-align: center;*/
	display: block;
}
footer a:hover{
	color: #33bbff;
}
footer h4{
	padding-top: 2vw;
	padding-left: 2vw;
	font-size: 1vw;
	/*text-align: center;*/
	margin-bottom: 0vw;
}
}

footer{
	border-top-right-radius: 0.8vw;
	border-top-left-radius: 0.8vw;
  color: white;
  background: black;
}
 footer img{
  width:3vw;
  height:2vw;  
  display: inline-block;
}
footer img:hover{
	width: 4vw;
	height: 2vw;
	display: inline;
}
.About{
	/*margin-left: 10%*/
	/*padding-left: 20%*/
	padding-top: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.fa {
    padding: 2vw;
    font-size: 3vw;
    width: 3vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*#f_1 h4{
	padding-left: 0.3vw;
}*/
/*footer a{
	color: white;
	text-decoration: none;
	/*font-size: 1vw;*/
/*}
footer ul li{
	list-style: none;
	font-size: 1vw;
	line-height: 0.5vw;
}
footer a:hover{
	color: #33bbff;
}*/
/**/
